In [1]:
import pandas as pd

In [6]:
dict={'name':['asha','bhoomika','indu','anusha'],
      'age':['18','19','20','25',],
      'gender':["female","female","female","female"],
      'salary':[15000,20000,56000,43000]}
d=pd.DataFrame(dict)
print(d)

       name age  gender  salary
0      asha  18  female   15000
1  bhoomika  19  female   20000
2      indu  20  female   56000
3    anusha  25  female   43000

In [7]:
d.age.max()

'25'

In [8]:
d.age.mean()

4548006.25

In [9]:
d.age.min()

'18'

In [10]:
d.age.count()

4

In [11]:
d.age.std()

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [12]:
d.dtypes()

TypeError: 'Series' object is not callable

In [13]:
d.groupby('name').age.max()

name
anusha      25
asha        18
bhoomika    19
indu        20
Name: age, dtype: object

In [14]:
d.sort_index(axis=1,ascending=30)

  age  gender      name  salary
0  18  female      asha   15000
1  19  female  bhoomika   20000
2  20  female      indu   56000
3  25  female    anusha   43000

In [15]:
d.groupby('name').salary.min()

name
anusha      43000
asha        15000
bhoomika    20000
indu        56000
Name: salary, dtype: int64